body {
  font-family: 'Nunito', sans-serif;
  color: #662211;
  background: #99DDEE;
}

a {
  color: #4FB69F;
  text-decoration: none;
}

h1 {
  font-size: 1.750em;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 1.500em;
  color: #B4C34F;
}

img {
  border: 4px solid #660000;
}

/*class grid_12*/

#above_nav {
  text-align: center;
  font-size: 3em;
  margin: 5% 0 5% 0; /*50 px*/
  border: 6px solid #000000; /*6 px*/
}

ul#nav {
  border: 2px solid #000000;
  list-style: none;
  padding: 0 5% 0 5%;
  /*text-align: center;*/
  font-size: 2em;  /*32px*/
  margin: 5% 0 15% 0; /*50px x 150px*/
}

ul#nav li {
  float: left;
  margin: 0 1%;
}

ul#nav li a {
  color: #FF1188;
  display: block;
}

.nav_div {
  color: #660055;
}

/*end class grid_12*/

/*class grid_8*/

#below_nav .btn {
  color: #662211;
  background: #4FB69F url('img/texture.png') repeat right top;
  padding: 2.273% 4.545%; /*15px 30px*/
  border-radius: 25px;
  text-transform: uppercase;
}

#below_nav .btn:hover {
  background-color: #4CC4A7;
}

#the_battle {
  margin: 7.5758% 0 0 0; /*50 px*/ 
  padding-bottom: 3.03%; /*20 px*/
  border-bottom: 5px solid #000000;
}

#the_battle img {
  max-width: 45%;
}

p#below_nav {
  margin: 0 0 15.1515% 0; /*100 px*/
  text-align: center;
}

#versus {
  vertical-align: center;
  font-size: 3em;
}

#python_pic {
  margin: 0 3.03% 0 0; /*20 px*/
}

#ruby_pic { 
  margin: 0 0 0 3.03%; /*20 px*/
  }

#the_question {
  text-align: center;
  margin: 3.03% auto; /*20 px*/
}

/*end class grid_8*/

/*start class grid_3 omega*/
#penguins {
  text-align: right;
}

#penguins img {
  margin-left: 17.02%; /*40 px*/
  width: 100%;
  height: 100%;
  max-width: 100%;
}
/*end class grid_3 omega*/




/*featured-cat is class grid_7*/

#featured-cat img {
  float: left;
  width: 70.43%; /*405 px*/
  max-width: 100%;
}


/*the-sides is class grid_5 omega*/
#the-sides {
  margin: 0 0 0 5%;
}

#the-sides img {
  margin: 0 0 5% 0; /*20 px*/
}


/*#ipsum grid_7*/

/*right-bottom includes slogan, contact, facebook; grid 5_omega*/

#right-bottom {
  /*margin: 0 0 0 5%;*/
}

/*copyright class grid 12*/
#copyright {
  border-top: 8px solid #2A0400;
  padding: 1% 0px; /*10 px*/
  margin: 1.5% 0px; /*15 px (parent is container 1000px)*/
  text-align: center;
}












